<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<variable name="logDirectory" value="${basedir}/logsApp/${shortdate}" />
	<targets>
		<target name="file" xsi:type="File" fileName="${logDirectory}/log.txt" />
	</targets>
	<rules>
		<logger name="Bakery.Errors.LoggerError" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>