<div id="toast" class="cake-card container-fluid">
    <div class="card-body">
      <div class="card-title">
        <p style="font-size: 26px; font-weight: 400; width: fit-content;">Stwórz Mono-deser!</p>
      </div>
      <div class="col-12">
        <div class="container-fluid row d-flex justify-content-center col-12 mt-3">
          <div class="col-6 d-flex justify-content-start">
            <h5>Cena: {{ totalPrice }} zł/szt</h5>    
          </div>
          <div class="col-6 d-flex justify-content-end">
            <mat-form-field class="mr-5" appearance="legacy">
              <mat-label>Data odbioru</mat-label>
              <input matInput [(ngModel)]="order.completionDate" [matDatepicker]="picker" [min]="today" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="ml-4" appearance="legacy" style="width: 250px;">
              <mat-label>Ile sztuk?</mat-label>
              <input matInput type="number" min="1" placeholder="2.5" [(ngModel)]="order.servings" (ngModelChange)="calculateTotalPrice()" required>
            </mat-form-field>
          </div>
          </div>
          <div class="container-fluid row d-flex justify-content-center col-12">
            <mat-horizontal-stepper style="background: none; width: 90%; margin-top: 8px;">
              <mat-step>
                <ng-template matStepLabel>{{ selectionCakes.selected[0] ? selectionCakes.selected[0].name : 'Biszkopt' }}</ng-template>
                <div class="container-fluid row col-12 d-flex justify-content-center">
                  <mat-form-field class="col-10">
                    <mat-label>Filtruj</mat-label>
                    <input matInput (keyup)="applyFilter($event, dataSourceCakes)" placeholder="Szukaj...">
                  </mat-form-field>
                  <div class="table-responsive table-striped col-10 d-flex justify-content-center">
                    <table #tableCakes mat-table [dataSource]="dataSourceCakes" matSort #sorterCakes="matSort">
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td class="cake-row" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="changed($event, selectionCakes, row)"
                                        [checked]="selectionCakes.isSelected(row)" color="primary">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.type}} </td>
                      </ng-container>
                      <ng-container matColumnDef="flavour">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Smak </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.flavour}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.description}} </td>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.price}} zł/szt</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsCakes"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsCakes;"></tr>
                    </table>
                  </div>
                  <mat-paginator class="col-10" #paginatorCakes [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ selectionCreams.selected[0] ? selectionCreams.selected[0].name : 'Krem' }}</ng-template>
                <div class="container-fluid row col-12 d-flex justify-content-center">
                  <mat-form-field class="col-10">
                    <mat-label>Filtruj</mat-label>
                    <input matInput (keyup)="applyFilter($event, dataSourceCreams)" placeholder="Szukaj...">
                  </mat-form-field>
                  <div class="table-responsive table-striped col-10 d-flex justify-content-center">
                    <table #tableCreams mat-table [dataSource]="dataSourceCreams" matSort #sorterCreams="matSort">
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td class="cake-row" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="changed($event, selectionCreams, row)"
                                        [checked]="selectionCreams.isSelected(row)" color="primary">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.type}} </td>
                      </ng-container>
                      <ng-container matColumnDef="flavour">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Smak </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.flavour}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.description}} </td>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                        <td class="cake-row" mat-cell *matCellDef="let row"> {{row.price}} zł/szt</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsCreams"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsCreams;"></tr>
                    </table>
                  </div>
                  <mat-paginator class="col-10" #paginatorCreams [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ selectionAdditionals.selected[0] ? selectionAdditionals.selected[0].additional.name+'...' : 'Dodatki' }}</ng-template>
                <div class="container-fluid row col-12 d-flex justify-content-center">
                  <mat-form-field class="col-10">
                    <mat-label>Filtruj</mat-label>
                    <input matInput (keyup)="applyFilter($event, dataSourceAdditionals)" placeholder="Szukaj...">
                  </mat-form-field>
                  <div class="table-responsive table-striped col-10 d-flex justify-content-center">
                    <table #tableAdditionals mat-table [dataSource]="dataSourceAdditionals" matSort #sorterAdditionals="matSort">
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row" style="padding: 0px 0px 0px 16px">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="changed($event, selectionAdditionals, row)"
                                        [checked]="selectionAdditionals.isSelected(row)" color="primary">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                        <td mat-cell *matCellDef="let row" style="padding: 0"> {{row.additional.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
                        <td mat-cell *matCellDef="let row" style="padding: 0"> {{row.additional.description}} </td>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                        <td mat-cell *matCellDef="let row" style="padding: 0">{{row.additional.price*row.quantity}} zł</td>
                      </ng-container> 
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsAdditionals"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsAdditionals;"></tr>
                    </table>
                  </div>
                  <mat-paginator class="col-10" #paginatorAdditionals [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ selectionDecorations.selected[0] ? selectionDecorations.selected[0].decoration.name+'...' : 'Dekoracje' }}</ng-template>
                <div class="container-fluid row col-12 d-flex justify-content-center">
                  <mat-form-field class="col-10">
                    <mat-label>Filtruj</mat-label>
                    <input matInput (keyup)="applyFilter($event, dataSourceDecorations)" placeholder="Szukaj...">
                  </mat-form-field>
                  <div class="table-responsive table-striped col-10 d-flex justify-content-center">
                    <table #tableDecorations mat-table [dataSource]="dataSourceDecorations" matSort #sorterDecorations="matSort">
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row" style="padding: 0px 0px 0px 16px">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="changed($event, selectionDecorations, row)"
                                        [checked]="selectionDecorations.isSelected(row)" color="primary">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                        <td mat-cell *matCellDef="let row" style="padding: 0"> {{row.decoration.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
                        <td mat-cell *matCellDef="let row" style="padding: 0"> {{row.decoration.description}} </td>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                        <td mat-cell *matCellDef="let row"  style="padding: 0"> {{row.decoration.price*row.quantity}} zł</td>
                      </ng-container> 
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsDecorations"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsDecorations;"></tr>
                    </table>
                  </div>
                  <mat-paginator class="col-10" #paginatorDecorations [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
              </mat-step>
              <mat-step label="Wygeneruj zamówienie!">
                <div class="container-fluid row col-12 d-flex justify-content-center">
                  <div class="container-fluid row col-12 d-flex justify-content-center" *ngIf="order">
                    <div class="container-fluid row col-12 d-flex justify-content-between">
                        <h6>{{ 'Podsumowanie zamówienia' }}</h6>
                        <h6>{{ order.orderedOn | date: 'dd.MM.yyyy HH:mm' }}</h6>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="container-fluid row col-10 d-flex justify-content-center" *ngIf="order && order.cake"> 
                      <table style="width:100%">
                        <tr>
                          <td style="margin-left: -15px; font-weight: bold;">Biszkopt i krem</td>
                          <td></td>
                        </tr>
                        <tr class="d-flex justify-content-between ml-3">
                          <td>{{ order.cake.name }}</td>
                          <td><ng-container *ngIf="order.cake.price !== 0">{{ order.cake.price }} zł/kg</ng-container></td>
                        </tr>
                      </table>
                    </div>
                    <div class="container-fluid row col-10 d-flex justify-content-center"  *ngIf="order && order.cream">
                      <table style="width: 100%">
                        <tr class="d-flex justify-content-between ml-3">
                          <td>{{ order.cream.name }}</td>
                          <td><ng-container *ngIf="order.cream.price !== 0">{{ order.cream.price }} zł/kg</ng-container></td>
                        </tr>
                      </table>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="container-fluid row col-10 d-flex justify-content-center" *ngIf="order && order.ordersAdditionals && order.ordersAdditionals.length !== 0">
                      <table style="width: 100%">
                        <tr>
                          <td style="margin-left: -15px; font-weight: bold;">Dodatki do tortu</td>
                          <td></td>
                        </tr>
                        <tr *ngFor="let additional of order.ordersAdditionals" class="d-flex justify-content-between ml-3">
                          <td>{{ additional.additional.name }}</td>
                          <td><ng-container *ngIf="additional.additional.price !== 0">{{ additional.quantity * additional.additional.price }} zł</ng-container></td>
                        </tr>
                      </table>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="container-fluid row col-10 d-flex justify-content-center" *ngIf="order && order.ordersDecorations && order.ordersDecorations.length !== 0">
                      <table style="width: 100%">
                        <tr>
                          <td style="margin-left: -15px; font-weight: bold;">Dekoarcje</td>
                          <td></td>
                        </tr>
                        <tr *ngFor="let decoration of order.ordersDecorations" class="d-flex justify-content-between ml-3">
                          <td>{{ decoration.decoration.name }}</td>
                          <td><ng-container *ngIf="decoration.decoration.price !== 0">{{ decoration.quantity * decoration.decoration.price }} zł</ng-container></td>
                        </tr>
                      </table>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="container-fluid row col-12 d-flex justify-content-between mt-3">
                      <div class="container-fluid row col-6 d-flex justify-content-start">
                        <h6>Ilość sztuk: {{ order.servings }}</h6>
                        <h6>Cena bazowa: {{ baseProduct.price }} zł/szt</h6>
                        <h6>Cena końcowa (za kilogram): {{ totalPrice }} zł/szt</h6>
                      </div>   
                      <div class="container-fluid row col-6 d-flex justify-content-end">
                        <h6>Cena końcowa (ogółem): {{ order.totalPrice }} zł</h6>
                        <h6>Rabat: {{ order.discount | number:'1.2-2' }} zł</h6>
                        <h6>Cena po rabacie: {{ order.totalPrice - order.discount }} zł</h6>
                      </div>   
                    </div>
                  </div>
                  <div class="col-10 d-flex justify-content-center">
                    <div>               
                      <button mat-stroked-button class="btn" (click)="addOrder()" [disabled]="invalidForm || !order.completionDate">
                        <span>
                          <mat-icon aria-hidden="false">file_download</mat-icon>
                          Wygeneruj i pobierz zamówienie
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper> 
          </div>
        </div>
    </div>
  </div>