/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
} 

.btn-primary {
  color: #fff;
  background-color: #d400ff;
  border-color: #d400ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cake-card {
  background: white; 
  box-shadow: 0 0 1em grey; 
  border-radius: 2em; 
  padding: 8px; 
  height: calc(100vh - 180px); 
  margin: auto;
}

.card-title {
  margin: 16px;
}

button, .mat-icon-button, .mat-button {
  outline: none !important;
}

