a {
  color: #0366d6;
}

code {
  color: #e01a76;
} 

.btn-primary {
  color: #fff;
  background-color: #d400ff;
  border-color: #d400ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cake-card {
  background: white; 
  box-shadow: 0 0 1em grey; 
  border-radius: 2em; 
  padding: 8px; 
  height: calc(100vh - 10px); 
  margin-top: 50px;
  max-width: 80%;
  max-height: 90%;
}

.card-title {
  margin: 16px;
}

button, .mat-icon-button, .mat-button {
  outline: none !important;
}

::ng-deep ..dx-toast-content {
  margin-top: 16px !important;
  margin-right: 16px !important;
}