<div id="toast" class="cake-card container-fluid row">
    <div class="card-body">
        <div class="card-title">
            <h5>Gotowe propozycje</h5>
        </div>
        <div class="col-12">
            <div class="container-fluid row d-flex justify-content-center col-12">
                <div class="d-flex justify-content-start mt-2" style="width: 90%;">
                    
                </div>
            </div>
            <div class="container-fluid row d-flex justify-content-center col-12" style="max-height: 600px; overflow: auto;">
                <ng-container *ngFor="let template of templates">
                    <mat-expansion-panel class="mb-1 mt-1" style="box-shadow: none;">
                        <mat-expansion-panel-header class="col-12 d-flex justify-content-between">
                            <mat-panel-title>
                                {{ template.templateName }}
                            </mat-panel-title>
                            <mat-panel-description style="justify-content: flex-end; margin-right: 50px;">
                                {{ template.totalPrice }} zł/kg
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="d-flex col-10 justify-content-between">
                            <ul style="list-style: none;">
                                <li *ngFor="let additional of template.ordersAdditionals">
                                    <strong>{{ additional.additional.name }}</strong> {{ additional.details ? ': ' : ''}} {{ additional.details }}
                                </li>
                                <li *ngFor="let decoration of template.ordersDecorations">
                                    <strong>{{ decoration.decoration.name }}</strong> {{ decoration.details ? ': ' : ''}} {{ decoration.details }}
                                 </li>
                            </ul>
                            <button mat-button (click)="personalize(template.order_Id)">
                                Personalizuj
                            </button>
                        </div>
                    </mat-expansion-panel>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div>
    </div>
</div>