.mat-step, :host ::ng-deep .mat-table {
    min-width: 100%;
    width: 100% !important;
}

.cake-row {
    padding: 8px !important;
    height: 60px !important;
}

// .cake-card {
//     background: white; 
//     box-shadow: 0 0 1em grey; 
//     border-radius: 2em; 
//     padding: 8px; 
//     height: calc(100vh - 100px); 
//     margin: auto;
// }

.table-responsive {
    max-height: calc(100vh - 500px);
    overflow: auto;
}

h5, h6 {
    font-weight: 400;
    font-size: 1.25rem;
}