<div class="container-fluid d-flex flex-column justify-content-center home-wrapper p-0 m-0">
    <div class="container-fluid col-12 d-flex flex-row justify-content-evenly button-wrapper">
        <div class="home-button-wrapper creator-button" *ngIf="!selectDesertType">
            <div class="home-button-overlay">
                <button mat-raised-button class="home-button btn" (click)="selectCreator()">
                    <span class="button-cover">KREATOR</span>
                </button>
            </div>
        </div>
        <div class="home-button-wrapper templates-button" *ngIf="!selectDesertType">
            <div class="home-button-overlay">
                <button mat-raised-button class="home-button btn" (click)="selectTemplates()">
                    <span class="button-cover">GOTOWE PROPOZYCJE</span>
                </button>
            </div>
        </div>
        <div class="home-button-wrapper cake-button" *ngIf="selectDesertType">
            <div class="home-button-overlay">
                <button mat-raised-button class="home-button btn" (click)="navigateToBirthdayCake()">
                    <span class="button-cover">TORTY</span>
                </button>
            </div>
        </div>
        <div class="home-button-wrapper mono-dessert-button" *ngIf="selectDesertType">
            <div class="home-button-overlay">
                <button mat-raised-button class="home-button btn" (click)="navigateToMonoDessert()">
                    <span class="button-cover">MONO-DESERY</span>
                </button>
            </div>
        </div>
        <div class="home-button-wrapper statistics-button">
            <div class="home-button-overlay">
                <button mat-raised-button class="home-button btn" (click)="navigate('statistics')">
                    <span class="button-cover">STATYSTYKI</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid row col-12 d-flex justify-content-center mt-3">
        <button *ngIf="selectDesertType" color="primary" class="col-1 btn btn-sm" mat-stroked-button (click)=return()>
            <span>POWRÓT</span>
        </button>
    </div>
</div>