.home-wrapper {
  width: 100%;
  height: 100%;
}

.button-wrapper {
  height: calc(100vh - 650px);
  margin-top: -50px;
}

.home-button-wrapper {
  border-radius: 0;
  height: 100%;
  width: 25%;
  border: none;
  box-shadow: 0 0 3em rgb(90, 90, 90);
  background-size: cover;
}

.home-button-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 242, 251, 0.5);
}

.home-button {
  border-radius: 0;
  height: 100%;
  width: 100%;
  border: none;
  font-size: xx-large;
  font-weight: thin;
}

.cake-button {
  background-image: url('../../assets/Cake-Life-Bake-Shop-Assortment-of-Cakes-Credit-Dominic-Perri-HighRes.jpg');
}

.mono-dessert-button {
  background-image: url('../../assets/mono-deser-2.jpg');
}

.statistics-button {
  background-image: url('../../assets/statystyki.jpg');
}

.creator-button {
  background-image: url('../../assets/creator2.jpg');
}

.templates-button {
  background-image: url('../../assets/templates.jpg');
}

.panel-button {
    background: none;
    color: #343a40;
    margin: 16px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .panel-button:hover {
    color: #3f51b5;
  }
  