<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div class="d-flex flex-column justify-content-start" style="height: 100%; background: rgba(251, 225, 255, 0.534);">
      <ng-container *ngFor="let item of menuItems">
        <div>
          <button class="btn sidebar-button" mat-button (click)="navigate(item)">
            <mat-icon aria-hidden="false">{{ item.icon }}</mat-icon>
            {{ item.title }}
          </button>      
        </div>
        <div *ngIf="item.children && item.children.length !== 0">
          <ng-container *ngFor="let child of item.children">
            <button class="btn sidebar-button sidebar-child-button" mat-button (click)="navigate(child)">
              <mat-icon aria-hidden="false">{{ child.icon }}</mat-icon>
              {{ child.title }}
            </button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

